<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-qe-jump-expression-heading"
        data-cy="QeJumpExpressionCreateUpdateHeading"
        jhiTranslate="vegaJhApp.qeJumpExpression.home.createOrEditLabel"
      >
        Genera o modifica un Qe Jump Expression
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="vegaJhApp.qeJumpExpression.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vegaJhApp.qeJumpExpression.nodeId" for="field_nodeId">Node Id</label>
          <input type="text" class="form-control" name="nodeId" id="field_nodeId" data-cy="nodeId" formControlName="nodeId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vegaJhApp.qeJumpExpression.text" for="field_text">Text</label>
          <input type="text" class="form-control" name="text" id="field_text" data-cy="text" formControlName="text" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vegaJhApp.qeJumpExpression.expression" for="field_expression">Expression</label>
          <input
            type="text"
            class="form-control"
            name="expression"
            id="field_expression"
            data-cy="expression"
            formControlName="expression"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vegaJhApp.qeJumpExpression.jumpTo" for="field_jumpTo">Jump To</label>
          <input type="text" class="form-control" name="jumpTo" id="field_jumpTo" data-cy="jumpTo" formControlName="jumpTo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vegaJhApp.qeJumpExpression.position" for="field_position">Position</label>
          <input type="number" class="form-control" name="position" id="field_position" data-cy="position" formControlName="position" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="vegaJhApp.qeJumpExpression.qeQuestion" for="field_qeQuestion">Qe Question</label>
          <select
            class="form-control"
            id="field_qeQuestion"
            data-cy="qeQuestion"
            name="qeQuestion"
            formControlName="qeQuestion"
            [compareWith]="compareQeQuestion"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="qeQuestionOption" *ngFor="let qeQuestionOption of qeQuestionsSharedCollection">
              {{ qeQuestionOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annulla</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salva</span>
        </button>
      </div>
    </form>
  </div>
</div>
