<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="questionnaire">
      <h2 data-cy="questionnaireDetailsHeading"><span jhiTranslate="vegaJhApp.questionnaire.detail.title">Questionnaire</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="vegaJhApp.questionnaire.id">Id</span></dt>
        <dd>
          <span>{{ questionnaire.id }}</span>
        </dd>
        <dt><span jhiTranslate="vegaJhApp.questionnaire.name">Name</span></dt>
        <dd>
          <span>{{ questionnaire.name }}</span>
        </dd>
        <dt><span jhiTranslate="vegaJhApp.questionnaire.version">Version</span></dt>
        <dd>
          <span>{{ questionnaire.version }}</span>
        </dd>
        <dt><span jhiTranslate="vegaJhApp.questionnaire.title">Title</span></dt>
        <dd>
          <span>{{ questionnaire.title }}</span>
        </dd>
        <dt><span jhiTranslate="vegaJhApp.questionnaire.subTitle">Sub Title</span></dt>
        <dd>
          <span>{{ questionnaire.subTitle }}</span>
        </dd>
        <dt><span jhiTranslate="vegaJhApp.questionnaire.notes">Notes</span></dt>
        <dd>
          <span>{{ questionnaire.notes }}</span>
        </dd>
        <dt><span jhiTranslate="vegaJhApp.questionnaire.image">Image</span></dt>
        <dd>
          <span>{{ questionnaire.image }}</span>
        </dd>
        <dt><span jhiTranslate="vegaJhApp.questionnaire.imageAlt">Image Alt</span></dt>
        <dd>
          <span>{{ questionnaire.imageAlt }}</span>
        </dd>
        <dt><span jhiTranslate="vegaJhApp.questionnaire.instructions">Instructions</span></dt>
        <dd>
          <span>{{ questionnaire.instructions }}</span>
        </dd>
        <dt><span jhiTranslate="vegaJhApp.questionnaire.compilationTime">Compilation Time</span></dt>
        <dd>
          <span>{{ questionnaire.compilationTime }}</span>
        </dd>
        <dt><span jhiTranslate="vegaJhApp.questionnaire.forcedTerminationTime">Forced Termination Time</span></dt>
        <dd>
          <span>{{ questionnaire.forcedTerminationTime }}</span>
        </dd>
        <dt><span jhiTranslate="vegaJhApp.questionnaire.usedSeconds">Used Seconds</span></dt>
        <dd>
          <span>{{ questionnaire.usedSeconds }}</span>
        </dd>
        <dt><span jhiTranslate="vegaJhApp.questionnaire.status">Status</span></dt>
        <dd>
          <span>{{ questionnaire.status }}</span>
        </dd>
        <dt><span jhiTranslate="vegaJhApp.questionnaire.xml">Xml</span></dt>
        <dd>
          <span>{{ questionnaire.xml }}</span>
        </dd>
        <dt><span jhiTranslate="vegaJhApp.questionnaire.json">Json</span></dt>
        <dd>
          <span>{{ questionnaire.json }}</span>
        </dd>
        <dt><span jhiTranslate="vegaJhApp.questionnaire.saveText">Save Text</span></dt>
        <dd>
          <span>{{ questionnaire.saveText }}</span>
        </dd>
        <dt>
          <span jhiTranslate="vegaJhApp.questionnaire.searchText" [ngbTooltip]="'vegaJhApp.questionnaire.help.searchText' | translate"
            >Search Text</span
          >
        </dt>
        <dd>
          <span>{{ questionnaire.searchText }}</span>
        </dd>
        <dt><span jhiTranslate="vegaJhApp.questionnaire.subjectToEvaluation">Subject To Evaluation</span></dt>
        <dd>
          <span>{{ questionnaire.subjectToEvaluation }}</span>
        </dd>
        <dt><span jhiTranslate="vegaJhApp.questionnaire.questionnaireType">Questionnaire Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'vegaJhApp.QuestionnaireType.' + questionnaire.questionnaireType }}">{{
            questionnaire.questionnaireType
          }}</span>
        </dd>
        <dt><span jhiTranslate="vegaJhApp.questionnaire.attachments">Attachments</span></dt>
        <dd>
          <span>{{ questionnaire.attachments }}</span>
        </dd>
        <dt><span jhiTranslate="vegaJhApp.questionnaire.questionnaireGroup">Questionnaire Group</span></dt>
        <dd>
          <div *ngIf="questionnaire.questionnaireGroup">
            <a [routerLink]="['/questionnaire-group', questionnaire.questionnaireGroup.id, 'view']">{{
              questionnaire.questionnaireGroup.id
            }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="vegaJhApp.questionnaire.questionnaireProfile">Questionnaire Profile</span></dt>
        <dd>
          <div *ngIf="questionnaire.questionnaireProfile">
            <a [routerLink]="['/questionnaire-profile', questionnaire.questionnaireProfile.id, 'view']">{{
              questionnaire.questionnaireProfile.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Indietro</span>
      </button>

      <button type="button" [routerLink]="['/questionnaire', questionnaire.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Modifica</span>
      </button>
    </div>
  </div>
</div>
